/* 
1. 
 */
 html, body {
    margin: 0;
    padding: 0;
    font-size: 13px;
}

.container {
    width: 375px;
    margin: 0 auto;
    background-color: #EDEDED; 
    border: solid 1px #EDEDED;
    padding: 2px;
}

header, section {
    background-color: #FFFFFF;
}

.post-img {
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    align-items: center;
    margin-bottom: 5px;
}

section {
    margin-bottom: 20px;
}

.logo-img {
    width: 127px;
    height: 50px;
}

.avatar-img {
    height: 34px;
    width: 34px;
    border-radius: 50%;
    aspect-ratio: auto;
}

.section-header {
    display: flex;
    padding: 10px;
}

.post-info p {
    margin: 0 0 0 10px;

}

.buttons {
    display: flex;
    padding: 10px;
}

.btn {
    width: 20px;
    height: 20px;
    margin-right: 6px;
}

.btn:hover,
.btn:focus {
    filter: opacity(0.25) drop-shadow(0 0 0 red);
}

.likes {
    margin: 0;
    padding: 10px;
}

.comments {
    margin: 0;
    padding: 10px;
}

.username {
    font-weight: bold;
    margin-right: 5px;
}

.template-section {
    visibility: hiddden;
}


